footer {
    min-height: 15rem;
    height: max-content;
}

@media (prefers-color-scheme: dark) {
    footer {
        background-color: var(--theme-dark-bg-2);
        border-top: 1px var(--theme-dark-fg-2) solid;
    }

    .footer-section ul {
        border-left: 1px var(--theme-dark-fg-2) solid;
    }
}

.footer-margin {
    margin: 0 10%;
    height: max-content;
}

.footer-margin section > hr {
    width: 70%;
    margin: 0;
}

.footer-section ul {
    margin-top: 0;
    padding: 0 5%;
}

.footer-section li {
    padding: 10px;
    list-style: none;
}

.footer-section li:not(a) {
    display: flex;
    align-items: center;
}

.footer-section li:not(a) > span {
    pointer-events: none;
}

/*.footer-section a*/
.footer-section li:has(a) > a,
.footer-section li > span {
    width: 300px;

    display: inline-block;

    color: var(--theme-dark-fg-1);
    text-decoration: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.footer-section ion-icon,
.footer-section img {
    margin-right: 10px;
    vertical-align: middle;
}

.footer-section span {
    vertical-align: middle;
}

#copyright-notice,
#project-version {
    margin: 1rem 0;
}

#project-version {
    display: flex;
    align-items: center;
    justify-content: right;
}

#project-version > ion-icon {
    margin-right: 3px;
}

@media screen and (max-width: 1024px) {
    footer {
        text-align: center;
    }

    .footer-margin section > hr {
        visibility: hidden;
    }

    .footer-section ul {
        border-left: transparent;
    }

    .footer-section li {
        justify-content: center;
    }

    #project-version {
        justify-content: center;
    }
}