#page-content > .content-alignment {
    width: 90%;
    max-width: 1280px;
    height: max-content;

    display: flex;
    margin: 1rem auto 5rem auto;
}

.feed-tabs-container {
    position: relative;
    height: max-content;
}

.feed-tabs-container::before,
.feed-tabs-container::after {
    content: "";
    display: table;
}

/*.feed-tabs-container::after {*/
/*    clear: both;*/
/*}*/

#popular-feed,
#trending-feed {
    float: left;
    width: 50%;
}

.feed-tab-switch {
    display: none;
}

.feed-tab-label {
    height: 3em;

    position: relative;
    top: 0;

    display: block;

    color: #fff;
    line-height: 2.75em;
    text-align: center;

    border: 1px var(--theme-dark-fg-2) solid;
    border-top: none;

    cursor: pointer;
    transition: all 0.25s;
}

/*.feed-tab-label:hover {*/
/*    top: -0.25rem;*/
/*    transition: top 0.25s;*/
/*}*/

.feed-content {
    height: max-content;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    opacity: 0;
    transition: all 0.35s;
}

.feed-tab-switch:checked + .feed-tab-label {
    color: white;
    /*font-size: large;*/
    font-weight: 800;

    transition: font-size 0.35s;
    z-index: 1;
}

@media (prefers-color-scheme: dark) {
    .feed-tab-switch:checked + .feed-tab-label {
        border-bottom: none;
        /*transition: border-bottom-width 0s;*/
    }
}

.feed-tab-switch:checked + label + .feed-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

