* {
    /* Accent 1 */
    --theme-dark-bg-1: #222;
    --theme-dark-fg-1: #eee;
    /* Accent 2 */
    --theme-dark-bg-2: #111;
    --theme-dark-fg-2: #777;

    --theme-light-bg-1: white;
    --theme-light-fg-1: black;


    color-scheme: light dark;

    font-family: "Open Sans", sans-serif;
}

body {
    width: 100svw;
    height: 100svh;
}

#page-content {
    min-height: calc(100% - 20rem);
    line-height: 1.618em;
}

#page-content > section:first-child {
    margin-top: 2rem;
}

#page-content > section:last-child {
    margin-bottom: 5rem;
}

.nice-alignment {
    width: 90%;
    max-width: 1280px;
    height: max-content;
    margin: auto;
}